@font-face {
  font-family: "Univers";
  src: url("../assets/fonts/univers-condensed.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Univers Bold";
  src: url("../assets/fonts/universpro-bold.eot");
  font-weight: 700;
  font-style: normal;
}
