.hero {
  height: 100vh;
  position: relative;
  .inner {
    max-width: 1400px;
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      padding-top: 5vh;
    }
    .subhead {
      font-size: 2rem;
    }
    .video {
      padding-top: 30vh;
    }
    .video-wrapper {
      @include md {
        max-height: 600px;
      }
    }
  }
}
