// Small tablets and large smartphones (landscape view)
$screen-mobile: 600px;

$screen-tablet: 1000px;

// Tablets and small desktops
$screen-med: 1440px;

// Large screens
$screen-large: 1920px;

// XL screens
// $screen-xl: 2000px;

// Small devices - <= 600px
@mixin sm {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}

// Small devices - <= 1000px
@mixin tablet {
  @media (max-width: #{$screen-tablet}) {
    @content;
  }
}

// Medium devices - <= 1440px
@mixin md {
  @media (max-width: #{$screen-med}) {
    @content;
  }
}

// Large devices - <= 1600px
@mixin lg {
  @media (max-width: #{$screen-large}) {
    @content;
  }
}

// // Large devices - <= 2000px
// @mixin xl {
//   @media (min-width: #{$screen-xl}) {
//     @content;
//   }
// }
